@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome To New Era</h1>
    <p>
       
      <h1 class="display-4"> Simple Solutions for Complex Connections</h1>
        
    </p>
</div>
